body {
    font-family: "Google Sans", sans-serif;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

header {
    background: #4c5b66;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}
.contenedor_header {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 0 20px;
}
.logo img {
    width: 200px;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 80px;
    width: 50%;
    font-size: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 80px;
}
nav a {
    color: white;
    text-decoration: none;
}

.container_inicio {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: #4c5b66;
    padding: 40px 0;
}
.texto_inicio {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.imagen_iphone {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen_iphone img {
    width: 500px;
}

.texto_derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.tituloBlanco {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
}
.texto_inicio .texto_blanco {
    margin-bottom: 30px;
    color: #ffffff;
}
.texto_inicio .texto_gris {
    margin-bottom: 30px;
    color: #8c8c8c;
}

.botones_inicio {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.boton_request {
    background-color: #3a8dde;
    color: white;
    padding: 10px 22px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 300; 
    margin-right: 15px;
}

.botones_inicio p {
    color: #8c8c8c;
    margin: 0 10px;
    font-size: 16px;
}

.boton_recent_work {
    display: flex; 
    align-items: center;
    color: white;
    text-decoration: none; 
    font-size: 16px;
    margin-left: 15px;
}
.boton_recent_work img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.containerLogosEmpresa {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.containerLogosEmpresa img {
    max-width: 15%; 
}

